@model TotallyNotJira.Models.Project

@{
    ViewBag.Titlu = "Edit Project";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Project"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ProjectId)
    <br />
    @Html.Label("Name", "Project Name")
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Project Description")
    <br />
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    <br />
    <br />


    <button class="btn btn-sm btn-success" type="submit">Save changes</button>
}

